## Editing sentences 
### Spelling mistakes & capital letters

Import required packages

In [63]:
import enchant
import pandas as pd
import re
from autocorrect import spell

Read dataset

In [25]:
df=pd.read_csv('/Users/haninjaber/Documents/SBData/dogdata.csv')

In [32]:
df

,id,status,created_at,payout_value,payout_currency,user_id,user_gender,user_date_of_birth,user_phone_number_prefix,user_phone_number,...,questions_48569_who_named_your_dog,questions_48569_who_named_your_dog_other_details,questions_48570_who_do_you_share_your_home_with,questions_48571_what_is_your_annual_household_income_before_tax,questions_48572_what_is_your_gender,questions_48573_what_year_were_you_born,questions_48574_what_is_your_first_name,questions_48575_what_is_your_last_name,questions_48576_what_is_your_email,questions_48577_what_is_your_paypal_email
0,523580,not_approved,2017-09-07 14:47:20 +0000,0.0,NaN,201458,female,1994-01-01 00:00:00 +0000,44.0,7.712571e+09,...,Parents,NaN,"[""Friends / roommates""]","$30,000 - $49,999",NaN,NaN,NaN,NaN,NaN,NaN
1,523734,not_approved,2017-09-07 15:24:01 +0000,0.0,NaN,136951,male,1997-09-28 00:00:00 +0000,44.0,7.761761e+09,...,Me,NaN,"[""Just me""]","Less than $20,000",NaN,NaN,NaN,NaN,NaN,NaN
2,523991,paid,2017-09-07 16:23:17 +0000,2.0,USD,194516,female,1998-07-06 00:00:00 +0000,1.0,6.052515e+09,...,Other,Previous owner,"[""My partner / spouse"", ""Friends / roommates""]","$20,000 - $29,999",NaN,NaN,NaN,NaN,NaN,NaN
3,524010,incomplete,2017-09-07 16:27:52 +0000,2.0,USD,230111,female,1990-11-18 00:00:00 +0000,1.0,2.677256e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,524013,incomplete,2017-09-07 16:28:41 +0000,2.0,USD,226944,female,1991-07-27 00:00:00 +0000,1.0,6.306526e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,524015,incomplete,2017-09-07 16:29:38 +0000,2.0,USD,230083,female,1990-05-15 00:00:00 +0000,1.0,9.519996e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,524021,incomplete,2017-09-07 16:31:39 +0000,2.0,USD,218895,female,1991-07-28 00:00:00 +0000,1.0,9.852289e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,524024,incomplete,2017-09-07 16:32:48 +0000,2.0,USD,138466,female,1992-09-26 00:00:00 +0000,1.0,5.162549e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,524027,incomplete,2017-09-07 16:33:49 +0000,2.0,USD,228550,female,1991-03-14 00:00:00 +0000,1.0,7.816567e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,524038,incomplete,2017-09-07 16:36:40 +0000,2.0,USD,228576,female,1990-05-10 00:00:00 +0000,1.0,9.513957e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,524041,incomplete,2017-09-07 16:37:28 +0000,2.0,USD,228601,female,1990-04-15 00:00:00 +0000,1.0,5.183519e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,524046,incomplete,2017-09-07 16:38:58 +0000,2.0,USD,228603,female,1991-04-05 00:00:00 +0000,1.0,4.243655e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,524051,incomplete,2017-09-07 16:40:10 +0000,2.0,USD,228612,female,1991-04-21 00:00:00 +0000,1.0,9.093756e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,524053,incomplete,2017-09-07 16:41:06 +0000,2.0,USD,228618,female,1990-11-17 00:00:00 +0000,1.0,6.319740e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,524061,incomplete,2017-09-07 16:43:47 +0000,2.0,USD,228622,female,1991-11-16 00:00:00 +0000,1.0,6.319740e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,524082,paid,2017-09-07 16:48:18 +0000,2.0,USD,82474,female,1979-01-01 00:00:00 +0000,1.0,8.645541e+09,...,Me,NaN,"[""My children""]","$20,000 - $29,999",NaN,NaN,NaN,NaN,NaN,NaN
16,524102,incomplete,2017-09-07 16:54:44 +0000,2.0,USD,228633,female,1990-11-18 00:00:00 +0000,1.0,9.093756e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,524105,incomplete,2017-09-07 16:55:29 +0000,2.0,USD,228644,female,1991-11-17 00:00:00 +0000,1.0,9.513804e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,524108,incomplete,2017-09-07 16:56:11 +0000,2.0,USD,230048,female,1991-05-17 00:00:00 +0000,1.0,9.094434e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,524113,incomplete,2017-09-07 16:57:03 +0000,2.0,USD,230057,female,1991-10-12 00:00:00 +0000,1.0,9.513803e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,524174,resubmit,2017-09-07 17:11:43 +0000,2.0,USD,255702,female,1980-07-29 00:00:00 +0000,1.0,9.124248e+09,...,My children,NaN,"[""My partner / spouse"", ""My children""]","Less than $20,000",NaN,NaN,NaN,NaN,NaN,NaN
21,524225,paid,2017-09-07 17:26:09 +0000,2.0,USD,292403,male,1999-03-16 00:00:00 +0000,1.0,6.194676e+09,...,Sibling,NaN,"[""My partner / spouse""]","Less than $20,000",NaN,NaN,NaN,NaN,NaN,NaN
22,524266,not_approved,2017-09-07 17:39:48 +0000,2.0,USD,278841,female,1980-01-01 00:00:00 +0000,1.0,6.184022e+09,...,My children,NaN,"[""My partner / spouse"", ""My children""]","$30,000 - $49,999",NaN,NaN,NaN,NaN,NaN,NaN
23,524317,paid,2017-09-07 17:57:57 +0000,2.0,USD,283143,female,1985-08-28 00:00:00 +0000,1.0,4.233474e+09,...,My children,NaN,"[""My partner / spouse"", ""My children""]","$20,000 - $29,999",NaN,NaN,NaN,NaN,NaN,NaN
24,524340,paid,2017-09-07 18:05:48 +0000,2.0,USD,73728,female,1996-11-18 00:00:00 +0000,1.0,6.056701e+09,...,Me,NaN,"[""Just me""]","$30,000 - $49,999",NaN,NaN,NaN,NaN,NaN,NaN
25,524356,paid,2017-09-07 18:10:07 +0000,2.0,USD,282170,female,1987-01-19 00:00:00 +0000,1.0,7.249678e+09,...,My children,NaN,"[""My partner / spouse"", ""My children"", ""Friend...","Less than $20,000",NaN,NaN,NaN,NaN,NaN,NaN
26,524405,paid,2017-09-07 18:27:37 +0000,2.0,USD,68945,female,1985-01-01 00:00:00 +0000,1.0,6.314184e+09,...,Me,NaN,"[""Other family members""]","$30,000 - $49,999",NaN,NaN,NaN,NaN,NaN,NaN
27,524410,resubmit,2017-09-07 18:30:19 +0000,2.0,USD,239649,male,1990-12-19 00:00:00 +0000,1.0,3.367568e+09,...,Me,NaN,"[""Friends / roommates""]","$20,000 - $29,999",NaN,NaN,NaN,NaN,NaN,NaN
28,524431,paid,2017-09-07 18:38:49 +0000,2.0,USD,276636,female,1972-01-21 00:00:00 +0000,1.0,6.619939e+09,...,My children,NaN,"[""My children"", ""My partner / spouse""]","$150,000 +",NaN,NaN,NaN,NaN,NaN,NaN
29,524440,paid,2017-09-07 18:42:08 +0000,2.0,USD,226225,male,1978-01-01 00:00:00 +0000,1.0,8.023188e+09,...,Me,NaN,"[""My partner / spouse"", ""My children""]","$100,000 - $149,000",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,541703,paid,2017-09-13 19:04:16 +0000,2.0,USD,250767,female,1971-01-01 00:00:00 +0000,1.0,8.305345e+09,...,My children,NaN,"[""My children""]","Less than $20,000",NaN,NaN,NaN,NaN,NaN,NaN
506,541770,paid,2017-09-13 19:41:59 +0000,2.0,USD,91072,male,1991-02-11 00:00:00 +0000,1.0,4.752122e+09,...,Me,NaN,"[""My partner / spouse"", ""Just me"", ""My childre...","$100,000 - $149,000",NaN,NaN,NaN,NaN,NaN,NaN
507,541775,not_approved,2017-09-13 19:43:41 +0000,2.0,USD,124770,female,1991-01-01 00:00:00 +0000,1.0,6.026701e+09,...,Me,NaN,"[""Just me""]","$30,000 - $49,999",NaN,NaN,NaN,NaN,NaN,NaN
508,541794,paid,2017-09-13 19:53:46 +0000,2.0,USD,274431,female,1996-05-24 00:00:00 +0000,1.0,9.376611e+09,...,Me,NaN,"[""My partner / spouse"", ""My children""]","Less than $20,000",NaN,NaN,NaN,NaN,NaN,NaN
509,541925,not_approved,2017-09-13 21:08:05 +0000,2.0,USD,296456,female,1965-01-01 00:00:00 +0000,1.0,7.065992e+09,...,Me,NaN,"[""My children""]","Less than $20,000",NaN,NaN,NaN,NaN,NaN,NaN
510,542609,not_approved,2017-09-14 07:05:41 +0000,2.0,USD,295856,female,1982-01-01 00:00:00 +0000,1.0,3.302816e+09,...,Parents,NaN,"[""Other family members""]","Less than $20,000",NaN,NaN,NaN,NaN,NaN,NaN
511,542652,not_approved,2017-09-14 07:33:54 +0000,2.0,USD,91103,female,1993-01-25 00:00:00 +0000,1.0,3.155386e+09,...,Me,NaN,"[""Friends / roommates"", ""My children"", ""My par...","$30,000 - $49,999",NaN,NaN,NaN,NaN,NaN,NaN
512,542679,not_approved,2017-09-14 07:45:48 +0000,2.0,USD,91324,male,1991-12-11 00:00:00 +0000,1.0,6.042298e+09,...,Me,NaN,"[""Just me"", ""My children"", ""Friends / roommate...","$75,000 - $99,999",NaN,NaN,NaN,NaN,NaN,NaN
513,542710,resubmit,2017-09-14 08:03:38 +0000,2.0,USD,291258,female,1989-06-21 00:00:00 +0000,1.0,2.092692e+09,...,Me,NaN,"[""My partner / spouse"", ""Just me"", ""My childre...","$20,000 - $29,999",NaN,NaN,NaN,NaN,NaN,NaN
514,542757,not_approved,2017-09-14 08:46:12 +0000,2.0,USD,287998,male,1989-02-23 00:00:00 +0000,1.0,8.723028e+09,...,My partner/spouse,NaN,"[""Just me"", ""My partner / spouse""]","$20,000 - $29,999",NaN,NaN,NaN,NaN,NaN,NaN
515,542858,not_approved,2017-09-14 09:44:14 +0000,2.0,USD,287986,female,1990-03-19 00:00:00 +0000,1.0,4.254341e+09,...,Me,NaN,"[""My children"", ""Just me""]","$30,000 - $49,999",NaN,NaN,NaN,NaN,NaN,NaN
516,542927,paid,2017-09-14 10:03:51 +0000,2.0,USD,287967,male,1986-02-09 00:00:00 +0000,1.0,2.694310e+09,...,Me,NaN,"[""Just me"", ""My children"", ""Friends / roommates""]","$50,000 -$74,999",NaN,NaN,NaN,NaN,NaN,NaN
517,543011,paid,2017-09-14 10:22:11 +0000,2.0,USD,287954,female,1992-03-27 00:00:00 +0000,1.0,6.465641e+09,...,Me,NaN,"[""Just me"", ""My partner / spouse"", ""My childre...","$75,000 - $99,999",NaN,NaN,NaN,NaN,NaN,NaN
518,543028,paid,2017-09-14 10:30:58 +0000,2.0,USD,287873,male,1993-06-19 00:00:00 +0000,1.0,3.203017e+09,...,My children,NaN,"[""Just me"", ""My partner / spouse"", ""My children""]","$30,000 - $49,999",NaN,NaN,NaN,NaN,NaN,NaN
519,543618,paid,2017-09-14 13:50:00 +0000,2.0,USD,7527,female,1962-05-02 00:00:00 +0000,1.0,2.156305e+09,...,My children,NaN,"[""My children"", ""My partner / spouse""]","$50,000 -$74,999",NaN,NaN,NaN,NaN,NaN,NaN
520,543735,paid,2017-09-14 14:50:21 +0000,2.0,USD,248496,male,1970-09-07 00:00:00 +0000,1.0,3.035215e+09,...,My partner/spouse,NaN,"[""My children"", ""My partner / spouse""]","$50,000 -$74,999",NaN,NaN,NaN,NaN,NaN,NaN
521,543920,paid,2017-09-14 16:13:26 +0000,2.0,USD,250911,female,1989-01-01 00:00:00 +0000,1.0,3.098303e+09,...,Me,NaN,"[""My partner / spouse"", ""My children""]","$20,000 - $29,999",NaN,NaN,NaN,NaN,NaN,NaN
522,543922,paid,2017-09-14 16:14:29 +0000,2.0,USD,291303,female,1999-01-01 00:00:00 +0000,1.0,5.016814e+09,...,Parents,NaN,"[""Other family members""]","$20,000 - $29,999",NaN,NaN,NaN,NaN,NaN,NaN
523,543946,paid,2017-09-14 16:21:52 +0000,2.0,USD,294835,female,1977-01-01 00:00:00 +0000,1.0,9.194268e+09,...,Me,NaN,"[""My children""]","$30,000 - $49,999",NaN,NaN,NaN,NaN,NaN,NaN
524,543951,paid,2017-09-14 16:24:37 +0000,2.0,USD,36377,female,1990-01-01 00:00:00 +0000,1.0,2.313274e+09,...,My children,NaN,"[""My partner / spouse"", ""My children""]","$150,000 +",NaN,NaN,NaN,NaN,NaN,NaN
525,543953,paid,2017-09-14 16:25:33 +0000,2.0,USD,91809,female,1998-01-01 00:00:00 +0000,1.0,6.789523e+09,...,Me,NaN,"[""Other family members""]","$50,000 -$74,999",NaN,NaN,NaN,NaN,NaN,NaN
526,544153,paid,2017-09-14 18:01:45 +0000,2.0,USD,275964,female,1989-01-01 00:00:00 +0000,1.0,2.537780e+09,...,Me,NaN,"[""My children"", ""Friends / roommates""]","Less than $20,000",NaN,NaN,NaN,NaN,NaN,NaN
527,544304,incomplete,2017-09-14 19:25:11 +0000,2.0,USD,230111,female,1990-11-18 00:00:00 +0000,1.0,2.677256e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,544495,paid,2017-09-14 20:47:58 +0000,2.0,USD,297289,female,1998-01-01 00:00:00 +0000,1.0,5.413131e+09,...,Friend,NaN,"[""Other family members""]","Less than $20,000",Female,1998.0,Carma,Stover,carmastover@gmail.com,I don't have one
529,544859,paid,2017-09-15 01:11:03 +0000,2.0,USD,4431,male,1964-09-26 00:00:00 +0000,1.0,7.194329e+09,...,My partner/spouse,NaN,"[""My partner / spouse""]","$50,000 -$74,999",NaN,NaN,NaN,NaN,NaN,NaN
530,545049,paid,2017-09-15 05:41:02 +0000,2.0,USD,225920,female,1981-01-01 00:00:00 +0000,1.0,8.027335e+09,...,Me,NaN,"[""My children"", ""Other family members""]","Less than $20,000",NaN,NaN,NaN,NaN,NaN,NaN
531,545143,not_approved,2017-09-15 06:49:38 +0000,2.0,USD,7550,female,1970-01-01 00:00:00 +0000,1.0,8.052367e+09,...,Me,NaN,"[""My partner / spouse"", ""My children""]","$75,000 - $99,999",NaN,NaN,NaN,NaN,NaN,NaN
532,546113,not_approved,2017-09-15 19:02:33 +0000,2.0,USD,241182,female,1994-01-01 00:00:00 +0000,1.0,4.434061e+09,...,Friend,NaN,"[""Other family members""]","$75,000 - $99,999",NaN,NaN,NaN,NaN,NaN,NaN
533,546144,not_approved,2017-09-15 19:18:32 +0000,2.0,USD,69214,female,1987-01-01 00:00:00 +0000,1.0,2.145278e+09,...,Me,NaN,"[""Just me""]","$30,000 - $49,999",NaN,NaN,NaN,NaN,NaN,NaN
534,546242,not_approved,2017-09-15 20:43:29 +0000,2.0,USD,295081,female,1987-01-01 00:00:00 +0000,1.0,2.162196e+09,...,My children,NaN,"[""My children""]","$30,000 - $49,999",Female,1987.0,Ciarie,Roscoe,Ciarieroscoe@yahoo.com,Ciarieroscoe@yahoo.com

We have a dataframe with 535 rows and 112 colums, but many columns have NULL values in all their rows - so let's exclude those columns

In [33]:
df=df.dropna(axis=1,how='all')

In [34]:
df.head()

,id,status,created_at,payout_value,payout_currency,user_id,user_gender,user_date_of_birth,user_phone_number_prefix,user_phone_number,...,questions_48569_who_named_your_dog,questions_48569_who_named_your_dog_other_details,questions_48570_who_do_you_share_your_home_with,questions_48571_what_is_your_annual_household_income_before_tax,questions_48572_what_is_your_gender,questions_48573_what_year_were_you_born,questions_48574_what_is_your_first_name,questions_48575_what_is_your_last_name,questions_48576_what_is_your_email,questions_48577_what_is_your_paypal_email
0,523580,not_approved,2017-09-07 14:47:20 +0000,0.0,NaN,201458,female,1994-01-01 00:00:00 +0000,44.0,7.712571e+09,...,Parents,NaN,"[""Friends / roommates""]","$30,000 - $49,999",NaN,NaN,NaN,NaN,NaN,NaN
1,523734,not_approved,2017-09-07 15:24:01 +0000,0.0,NaN,136951,male,1997-09-28 00:00:00 +0000,44.0,7.761761e+09,...,Me,NaN,"[""Just me""]","Less than $20,000",NaN,NaN,NaN,NaN,NaN,NaN
2,523991,paid,2017-09-07 16:23:17 +0000,2.0,USD,194516,female,1998-07-06 00:00:00 +0000,1.0,6.052515e+09,...,Other,Previous owner,"[""My partner / spouse"", ""Friends / roommates""]","$20,000 - $29,999",NaN,NaN,NaN,NaN,NaN,NaN
3,524010,incomplete,2017-09-07 16:27:52 +0000,2.0,USD,230111,female,1990-11-18 00:00:00 +0000,1.0,2.677256e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,524013,incomplete,2017-09-07 16:28:41 +0000,2.0,USD,226944,female,1991-07-27 00:00:00 +0000,1.0,6.306526e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now we have 72 columns instead of 112

In [35]:
df.columns.values

array(['id', 'status', 'created_at', 'payout_value', 'payout_currency',
       'user_id', 'user_gender', 'user_date_of_birth',
       'user_phone_number_prefix', 'user_phone_number',
       'user_paypal_email', 'user_age', 'user_age_group',
       'first_submission_approved', 'referral_id', 'referral_first_name',
       'referral_last_name', 'referral_paypal_email',
       'referral_phone_number_prefix', 'referral_phone_number',
       'location_id', 'location_name', 'project_id', 'project_name',
       'modules_id', 'modules_name',
       'questions_48534_how_many_dogs_do_you_have',
       'questions_48536_how_many_times_each_day_is_your_dog_fed_not_including_snacks',
       'questions_48537_what_types_of_food_do_you_give_your_dog_please_choose_all_that_apply',
       'questions_48538_what_type_of_dog_food_do_you_primarily_give_your_dog',
       'questions_48539_which_of_these_dog_food_brands_have_you_heard_of_before_please_tick_all_that_apply',
       'questions_48540_which_of_these_brands_of_dry_dog_food_do_you_currently_purchase_please_tick_all_that_apply',
       'questions_48541_and_which_is_your_preferred_brand_of_dry_dog_food',
       'questions_48541_and_which_is_your_preferred_brand_of_dry_dog_food_other_details',
       'questions_48542_why_is_this_your_preferred_brand',
       'questions_48543_which_of_the_following_most_influences_your_decision_to_purchase_a_particular_brand_of_dry_dog_food_select_your_top_three',
       'questions_48544_which_of_these_brands_of_wet_dog_food_do_you_currently_purchase_please_tick_all_that_apply',
       'questions_48545_which_is_your_preferred_brand_of_wet_dog_food',
       'questions_48545_which_is_your_preferred_brand_of_wet_dog_food_other_details',
       'questions_48546_why_is_this_your_preferred_brand',
       'questions_48547_which_of_the_following_most_influences_your_decision_to_purchase_a_particular_brand_of_wet_dog_food_select_your_top_three',
       'questions_48548_which_of_the_following_statements_about_store_brand_dog_food_do_you_agree_with',
       'questions_48549_which_of_these_statements_best_describes_you',
       'questions_48550_where_do_you_mainly_buy_your_dog_food_from',
       'questions_48550_where_do_you_mainly_buy_your_dog_food_from_other_details',
       'questions_48551_why_do_you_choose_to_buy_your_dog_food_from_there',
       'questions_48552_which_3_are_most_important_to_you_when_choosing_which_food_to_buy_for_your_dog_please_select_3',
       'questions_48553_what_one_thing_do_you_think_that_current_dog_food_brands_do_not_offer_that_you_d_like_to_see_please_be_as_detailed_as_possible_in_your_response',
       'questions_48555_i_shop_around_to_get_the_best_priced_dog_food_possible',
       'questions_48556_i_am_very_choosey_about_which_brand_of_dog_food_i_buy',
       'questions_48557_i_will_often_try_new_brands_of_dog_food_if_they_are_on_offer_discounted',
       'questions_48558_once_i_find_a_brand_of_dog_food_that_i_like_i_will_stick_with_it_for_years',
       'questions_48559_i_only_buy_the_highest_quality_food_for_my_dog',
       'questions_48560_what_does_the_high_quality_mean_to_you_in_terms_of_dog_food',
       'questions_48561_the_dog_food_i_buy_needs_to_have_specific_health_benefits_for_my_dog',
       'questions_48562_which_health_benefits_are_important_to_you_when_purchasing_dog_food',
       'questions_48563_i_only_give_my_dog_food_that_it_likes',
       'questions_48564_which_of_the_following_best_describes_you',
       'questions_48565_how_old_is_your_dog_in_human_years',
       'questions_48566_how_would_you_describe_the_size_of_your_dog',
       'questions_48567_how_many_times_each_day_is_your_dog_walked',
       'questions_48568_what_is_your_dog_s_name',
       'questions_48569_who_named_your_dog',
       'questions_48569_who_named_your_dog_other_details',
       'questions_48570_who_do_you_share_your_home_with',
       'questions_48571_what_is_your_annual_household_income_before_tax',
       'questions_48572_what_is_your_gender',
       'questions_48573_what_year_were_you_born',
       'questions_48574_what_is_your_first_name',
       'questions_48575_what_is_your_last_name',
       'questions_48576_what_is_your_email',
       'questions_48577_what_is_your_paypal_email'], dtype=object)

Choose a couple of cells from a column where people respond with whatever they want, to test out

In [94]:
print (df['questions_48542_why_is_this_your_preferred_brand'][2])
print (df['questions_48542_why_is_this_your_preferred_brand'][521])

it's cost effective and my dog really likes it. He is a picky eater.
it actually isn't.  but you didn't list theq branf I buy.  I buy Diamond naturals

Define function to correct spelling based on enchant package, and capitalises letters in sentence

In [95]:
d=enchant.Dict("en_UK")

def correct_spelling(x):
    sentence = re.split('([.!?] *)', x)
    final = ''.join([i.capitalize() for i in sentence])
    
    final=final.split()
    corrected=[]
    for i in final:
        correct=d.check(i)
        if correct==False:
            i=d.suggest(i)[0]
            corrected.append(i)
        else:
            corrected.append(i)
    corrected=" ".join(corrected)
    return corrected

Test function on rows selected above (row 2 and 521 in same column)

In [97]:
print (correct_spelling(df['questions_48542_why_is_this_your_preferred_brand'][2]))
print (correct_spelling(df['questions_48542_why_is_this_your_preferred_brand'][521]))

It's cost effective and my dog really likes it. He is a picky eater.
It actually isn't. But you didn't list the bran I buy. I buy diamond naturals

Much better... still some minor errors (bran instead of brand)
Not sure how it can be fixed but maybe good enough for now

Now to apply it to the entire column rather than a specific cell:

In [99]:
for i in df['questions_48542_why_is_this_your_preferred_brand']:
    correct_spelling(i)

TypeError: expected string or bytes-like object

In [103]:
for i in df['questions_48542_why_is_this_your_preferred_brand']:
    if i 

df['questions_48542_why_is_this_your_preferred_brand'].apply(correct_spelling)

TypeError: expected string or bytes-like object